body {
    margin: 0em;
    background-color: #f4f4f4 !important;
}
header{
    margin: 0em;
}
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

md-card{
    background-color: #ffffff;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.md-dialog-container{
    padding: 0px;
}
.dialogContainer{
    padding: 10px;
}
.md-card-custom {
    padding: 0px;
    box-shadow: 
    0px 2px 40px -1px rgba(0, 0, 0, 0.2), 
    0px 1px 40px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 40px 0px rgba(0, 0, 0, 0.12);
}
.custom-container{
    background-color: #ffffff !important;
}